@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

$color-text: #2D3E4E;
$color-subtext: #555555;
$color-border: #cccccc;
$border-radius: 5px;
$font-family: Inter, sans-serif;

$background: #FFFFFF;
$background-accent: #E8ECEB;
$header-accent: #2D3E4E;
$accent: #E09E50;

body {
  box-sizing: content-box;
  font-family: $font-family;
  background-color: $background;
  margin: 0 auto;
  line-height: 1.7;
  padding: 4vh 6vw;
  overflow-x: hidden;
  color: $color-text;
  font-size: 1rem;
  max-width: 63em;

  @media (min-width: 820px) {
    font-size: 1.2rem;
  }
}

time {
  display: block;
  color: $color-subtext;
  margin: 0.5em 0 1em;
}

footer {
  margin: 2em 0;
  font-size: 0.8em;
  color: $color-subtext;
  padding-top: 1em;
}

img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 75vh;
  border-radius: $border-radius;
}

blockquote {
  padding: 1.5em;
  margin: 0;
  font-size: 0.88em;
  background: $background-accent;
  border-radius: $border-radius;

  p {
    margin: 0;
  }
}

hr {
  width: 100%;
  border: 0;
  height: 1px;
  margin: 1.5em 0;
  background: $color-border;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  margin-bottom: 0;
  padding-bottom: 0;
  color: $header-accent;
}

a {
  transition: background 300ms;
  padding: 0 0.1em;
  text-decoration: none;
  border-bottom: 1px solid $color-border;
  font-weight: bold;
  color: $accent;
  &:hover {
    color: $accent;
    background: $background-accent;
  }
  &.external:after {
    position: relative;
    top: -0.5em;
    font-size: 0.7em;
    content: "↗";
  }
}

strong, em {
  color: $accent;
}

nav a {
  color: $color-text;
  margin: 1em 0 3em;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-color: $color-border;
  border-width: 1px;
}

#notes-entry-container {
  display: grid;
  grid-gap: 2em;
  grid-template-areas:
    "content"
    "side";

  @media (min-width: 700px) {
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "content side";
  }
}

code {
  background: $background-accent;
  padding: 0.1em 0.2em;
  border-radius: 4px;
}

.logo {
  font-size: 40px;
  font-family: "Libre Baskerville", serif;
  margin-right: 20px;
}